@import 'mixins';

.inventory-forms {
  .form-control {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-right: 1px solid #783F8E;
    font-size: 12px;
  }

  .form-control::placeholder {
    font-size: 12px;
  }

  .input-group-append .input-group-text {
    background-color: white;
    border: 1px solid #783F8E;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: #783F8E;
  }
}
