$primary-color: #783F8E;
$dark-color: #4f1271;
$grey: #c8c6d7;
$secondary-color: #bfacc8;
$primary-dark-color: #4a4063;

.text-primary-app {
  color: $primary-color;
}

.text-secondary-app {
  color: $secondary-color;
}

.text-dark-app {
  color: $primary-dark-color;
}
