<div class="card filter-panel shadow-sm">
  <div class="card-body filter-panel">
    <form autocomplete="off" [formGroup]="Form" (ngSubmit)="searchClothes()">
      <div class="inventory-forms input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
               formControlName="name"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text btn" id="basic-addon2">
              <i class="fa fa-search"></i>
            </span>
        </div>
      </div>
      <div class="row no-gutters mb-0 mb-lg-2">
        <div class="col-12 col-lg-6">
          <button type="button" class="btn btn-block btn-primary-app" (click)="orderLowerHigher()">
            <small>MENOR A MAYOR</small>
          </button>
        </div>
        <div class="col-12 col-lg-6 my-2 my-lg-0">
          <button type="button" class="btn btn-block btn-primary-app" (click)="orderHigherLower()">
            <small>MAYOR A MENOR</small>
          </button>
        </div>
      </div>
      <h6 class="text-primary-app">Genero:</h6>
      <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <label class="btn btn-primary-app">
          <input formControlName="gender" type="radio" name="gender" id="option1" value="hombre">
          <i class="fa fa-male mr-2"></i>
          <span>Hombre</span>
        </label>
        <label class="btn btn-primary-app">
          <input formControlName="gender" type="radio" name="gender" id="option2" value="mujer">
          <i class="fa fa-female mr-2"></i>
          <span>Mujer</span>
        </label>
      </div>
      <h6 class="text-primary-app mt-3">Tipo:</h6>
      <div class="d-flex flex-column">
        <div class="custom-control custom-radio">
          <input formControlName="type" type="radio" id="abrigo" name="type" value="abrigo" class="custom-control-input">
          <label class="custom-control-label" for="abrigo"><small>ABRIGO</small></label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="type" type="radio" id="pantalones" name="type" value="pantalones" class="custom-control-input">
          <label class="custom-control-label" for="pantalones"><small>PANTALONES</small></label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="type" type="radio" id="zapatos" name="type" value="zapatos" class="custom-control-input">
          <label class="custom-control-label" for="zapatos"><small>ZAPATOS</small></label>
        </div>
      </div>
      <h6 class="text-primary-app mt-3">Talla:</h6>
      <div class="d-flex justify-content-around">
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="xss" type="checkbox" value="xss" class="custom-control-input" id="xss">
          <label class="custom-control-label" for="xss"><small>XSS</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="xs" type="checkbox" value="xs" class="custom-control-input" id="xs">
          <label class="custom-control-label" for="xs"><small>XS</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="s" type="checkbox" value="s" class="custom-control-input" id="s">
          <label class="custom-control-label" for="s"><small>S</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="m" type="checkbox" value="m" class="custom-control-input" id="m">
          <label class="custom-control-label" for="m"><small>M</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="l" type="checkbox" value="l" class="custom-control-input" id="l">
          <label class="custom-control-label" for="l"><small>L</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input formControlName="size" name="size" value="xl" type="checkbox" value="xl" class="custom-control-input" id="xl">
          <label class="custom-control-label" for="xl"><small>XL</small></label>
        </div>
      </div>
      <h6 class="text-primary-app mt-3">Color:</h6>
      <div class="d-flex flex-column">
        <div class="custom-control custom-radio">
          <input formControlName="color" type="radio" id="rojo" name="color" value="rojo"  class="custom-control-input">
          <label class="custom-control-label" for="rojo">Rojo</label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="color" type="radio" id="azul" name="color" value="azul" class="custom-control-input">
          <label class="custom-control-label" for="azul">Azul</label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="color" type="radio" id="verde" name="color" value="verde" class="custom-control-input">
          <label class="custom-control-label" for="verde">Verde</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary-app btn-block mt-3">
        Buscar
      </button>
    </form>
  </div>
</div>
