<div class="card filter-panel shadow-sm">
  <div class="card-body filter-panel">
    <!-- <div class="inventory-forms input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
            <span class="input-group-text btn" id="basic-addon2">
              <i class="fa fa-search"></i>
            </span>
      </div>
    </div>
    -->
    <form>
      <h6 class="text-primary-app">Genero:</h6>
      <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <label class="btn btn-primary-app">
          <input type="radio" name="options" id="option1">
          <i class="fa fa-male mr-2"></i>
          <span>Hombre</span>
        </label>
        <label class="btn btn-primary-app">
          <input type="radio" name="options" id="option2">
          <i class="fa fa-female mr-2"></i>
          <span>Mujer</span>
        </label>
      </div>
      <h6 class="text-primary-app mt-3">Tipo:</h6>
      <div class="d-flex flex-column">
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="abrigo">
          <label class="custom-control-label" for="abrigo"><small>ABRIGO</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="pantalones">
          <label class="custom-control-label" for="pantalones"><small>PANTALONES</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="zapatos">
          <label class="custom-control-label" for="zapatos"><small>ZAPATOS</small></label>
        </div>
      </div>
      <h6 class="text-primary-app mt-3">Talla:</h6>
      <div class="d-flex justify-content-around">
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="xss">
          <label class="custom-control-label" for="xss"><small>XSS</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="xs">
          <label class="custom-control-label" for="xs"><small>XS</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="s">
          <label class="custom-control-label" for="s"><small>S</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="m">
          <label class="custom-control-label" for="m"><small>M</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="l">
          <label class="custom-control-label" for="l"><small>L</small></label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input type="checkbox" class="custom-control-input" id="xl">
          <label class="custom-control-label" for="xl"><small>XL</small></label>
        </div>
      </div>
      <h6 class="text-primary-app mt-3">Color:</h6>
      <div class="d-flex flex-column">
        <div class="custom-control custom-radio">
          <input type="radio" id="rojo" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="rojo">Rojo</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="azul" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="azul">Azul</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="verde" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="verde">Verde</label>
        </div>
      </div>
      <button class="btn btn-primary-app btn-block mt-3">
        Buscar
      </button>
    </form>
  </div>
</div>
