@import '~src/assets/scss/mixins';

.container-fluid {
  background-image: url('~src/assets/img/bg-invtentory.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  padding: 0;
  min-height: 100vh;
  @include min-width-992 {
    height: 100vh;
  }
}

.container {
  height: 100%;
  max-width: 1366px;
  padding: 60px 0 0 0;
}

.router-outlet {
  max-width: 1366px;
}
